html,
body {
  height: 100%;
  width: 100%;
}

.page2 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 3vh;
  overflow: hidden;
}

.page2 h1 {
  font-size: 100px;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-align: center;
}

.videocontainer {
  height: 100vh;
  width: 100%;
  margin-top: 2vw;
  position: relative;
}

.videocontainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.95;
}

.videocontainer .play {
  padding: 3vw 2.2vw;
  background: #000000;
  color: #ffffff;
  font-size: 2vw;
  position: fixed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  opacity: 0;
  scale: 0;
  pointer-events: none;
}
/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.page2 .SECOND{
    font-size: 60px;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 600px) {
  .page2 {
    min-height: 70vh;
    padding: 1vw 1vw;
  }

  .page2 h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .page2 .SECOND{
      font-size: 20px;
  }
  .videocontainer {
    height: 30vh;
    width: 100%;
    margin-top: 2vw;
    position: relative;
  }
}
